@model Product;
@using MVC23._10._1403.Areas.Admins.Controllers
<form method="post">

	<div>
		<label asp-for="Title" class="form-label mt-4">Title</label>
		<input class="form-control" asp-for="Title">
		<span asp-validation-for="Title"></span>

	</div>
	<div>
		<label asp-for="Description" class="form-label mt-4">Description</label>
		<input class="form-control"
			   asp-for="Description">
		<span asp-validation-for="Description"></span>

	</div>
	<div>
		<label asp-for="ISBN" class="form-label mt-4">ISBN</label>
		<input class="form-control" asp-for="ISBN">
		<span asp-validation-for="ISBN"></span>

	</div>

	<div>
		<label asp-for="Author" class="form-label mt-4">Author</label>
		<input class="form-control" asp-for="Author">
		<span asp-validation-for="Author"></span>

	</div>
	<div>
		<label asp-for="ListPrice" class="form-label mt-4">ListPrice</label>
		<input class="form-control" asp-for="ListPrice">
		<span asp-validation-for="ListPrice"></span>

	</div>


	<div>
		<label asp-for="Price" class="form-label mt-4">Price</label>
		<input class="form-control" asp-for="Price">
		<span asp-validation-for="Price"></span>

	</div>
	<div>
		<label asp-for="Price50" class="form-label mt-4">Price50</label>
		<input class="form-control" asp-for="Price50">
		<span asp-validation-for="Price50"></span>

	</div>
	<div>
		<label asp-for="Price100" class="form-label mt-4">Price100</label>
		<input class="form-control" asp-for="Price100">
		<span asp-validation-for="Price100"></span>

	</div>
	<div>
		<select asp-for="CategoryId" class="form-label mt-4" asp-items="@((IEnumerable<SelectListItem>)ViewData["Title"])">
			@* <option disabled selected>--mmmm--</option> *@
		</select>
		<label class="form-control" asp-for="CategoryId"></label>
		<span asp-validation-for="CategoryId"></span>

	</div>
	<button type="submit" class="btn btn-primary">Submit</button>

</form>
@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}