@model ProductVM;
<form method="post">

	<div>
		<label asp-for="Product.Title" class="form-label mt-4">Title</label>
		<input class="form-control"  asp-for="Product.Title">
		<span asp-validation-for="Product.Title"></span>

	</div>
	<div>
		<label  asp-for="Product.Description" class="form-label mt-4">Description</label>
		<input class="form-control"
			    asp-for="Product.Description">
		<span asp-validation-for="Product.Description"></span>

	</div>
	<div>
		<label  asp-for="Product.ISBN" class="form-label mt-4">ISBN</label>
		<input class="form-control"  asp-for="Product.ISBN">
		<span asp-validation-for="Product.ISBN"></span>

	</div>

	<div>
		<label  asp-for="Product.Author" class="form-label mt-4">Author</label>
		<input class="form-control"  asp-for="Product.Author">
		<span asp-validation-for="Product.Author"></span>

	</div>
	<div>
		<label  asp-for="Product.ListPrice" class="form-label mt-4">ListPrice</label>
		<input class="form-control"  asp-for="Product.ListPrice">
		<span asp-validation-for="Product.ListPrice"></span>

	</div>


	<div>
		<label  asp-for="Product.Price" class="form-label mt-4">Price</label>
		<input class="form-control"  asp-for="Product.Price">
		<span asp-validation-for="Product.Price"></span>

	</div>
	<div>
		<label  asp-for="Product.Price50" class="form-label mt-4">Price50</label>
		<input class="form-control"  asp-for="Product.Price50">
		<span asp-validation-for="Product.Price50"></span>

	</div>
	<div>
		<label  asp-for="Product.Price100" class="form-label mt-4">Price100</label>
		<input class="form-control"  asp-for="Product.Price100">
		<span asp-validation-for="Product.Price100"></span>

	</div>
	<div>
		<select asp-for="Product.CategoryId" class="form-label mt-4" asp-items="@Model.CategoryListItem">
			@* <option disabled selected>--mmmm--</option> *@
		</select>
		<label class="form-control" asp-for="Product.CategoryId"></label>
		<span asp-validation-for="Product.CategoryId"></span>

	</div>
	<button type="submit" class="btn btn-primary">Submit</button>

</form>
@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}